function Complex.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Complex.getOne 0
push argument 0
pop pointer 0
push this 0
return
function Complex.getTwo 0
push argument 0
pop pointer 0
push this 1
return
function Complex.add 1
push argument 0
pop pointer 0
push this 0
push argument 1
call Complex.getTwo 1
call Math.multiply 2
push argument 1
call Complex.getOne 1
push this 1
call Math.multiply 2
add
pop local 0
push local 0
push this 1
push argument 1
call Complex.getTwo 1
call Math.multiply 2
call Complex.new 2
return
function Complex.print 0
push argument 0
pop pointer 0
push this 0
call Output.printInt 1
pop temp 0
push this 1
call Output.printInt 1
pop temp 0
push constant 0
return
